.featured-book img {
    width: 300px;
    object-fit: cover;
}

.featured-book-text {
    color: white;
    font-size: 24px;
    /* Add other styles for the text as needed */
}

.featured-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
        padding-right: 230px;
}