.gallery-header {
    font-family: 'Belleza', sans-serif;
    text-align: left;
    color: rgb(189, 189, 189);
    font-size: 90px;
    margin-bottom: 10px;
    margin-top: 180px;
    margin-left: 80px;
    padding-top: 50px;
}