body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'commelight';
  src: url('Comme-Light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'commesemibold';
  src: url('Comme-SemiBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'commeregular';
  src: url('Comme-Regular (1)-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'commeextralight';
  src: url('Comme-ExtraLight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'existencelight';
  src: url('Existence-Light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'existencestencillight';
  src: url('Existence-StencilLight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'existenceunicaselight';
  src: url('Existence-UnicaseLight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat+Alternates:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

p {
  font-family: 'commelight', Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}